name: macOS-gcc
on: [push, pull_request]

jobs:
  macOS-build:
    runs-on: macos-latest
    env:
      FC: ${{ matrix.compiler }}
    strategy:
      matrix:
        compiler: [gfortran-11, gfortran-12]

    steps:
    - name: checkout-bacio
      uses: actions/checkout@v2
      with:
        repository: NOAA-EMC/NCEPLIBS-bacio
        path: bacio
        ref: v2.5.0
    
    - name: build-bacio
      run: |
        cd bacio
        mkdir build && cd build
        cmake .. -DCMAKE_INSTALL_PREFIX=~/bacio
        make -j2
        make install

    - name: checkout-w3emc
      uses: actions/checkout@v2
      with: 
        path: w3emc

    - name: build-w3emc
      run: |
        cd w3emc
        mkdir build 
        cd build
        cmake .. -DCMAKE_PREFIX_PATH=~/bacio
        make -j2

    - name: test-w3emc
      run: |
        cd w3emc/build
        ctest --output-on-failure

